
<!--header 1-6 Titulos-->
<h1> Componente Principal</h1>
<!-- p parrafo -->

<p> Footer</p>
<!--ul unodered lit-->
<!--ol -> ordered list-->
<ul>
  <!-- li -> list Item-->

  <li>
    <a routerLink="/inicio">Inicio</a>
  </li>
  <li>
    <a routerLink="/menu">Menu</a>
    <ol>
      <li>
        <a routerLink="/menu/gestion-usuarios">Gestion Usuarios</a>
        <ol>
          <li>
            <a routerLink="/menu/gestion-usuarios/crear-usuarios">Crear Usuarios</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-usuarios/actualizar-usuarios">Actualizar Usuarios</a>
          </li>

        </ol>
      </li>
      <li>
        <a routerLink="/menu/gestion-productos">Gestion Productos</a>
        <ol>
          <li>
            <a routerLink="/menu/gestion-productos/crear-productos">Gestion Productos</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-productos/actualizar-productos">Gestion Productos</a>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <a routerLink="/perfil">Perfil</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>

</ul>

<router-outlet></router-outlet>
